<?xml version='1.0'?>
<config>
    <folder>
        <module>C:\Users\ace\Documents\WindowsPowerShell\Modules\timemaster</module>
        <data-provider>C:\Users\ace\Documents\WindowsPowerShell\Modules\timemaster\data-provider</data-provider>
    </folder>
    <files>
        <data>tracking-data.db</data>
        <data-provider>System.Data.SQLite.dll</data-provider>
    </files>
</config>